
  <mat-toolbar color="primary">
    <mat-toolbar-row>
     <a routerLink="/coin-list" style="text-decoration: none; color: white;"><span>Crypto Checker</span> </a> 
    <span class="example-spacer"></span>
    <mat-form-field >
      <mat-select (valueChange)="sendCurency($event)" class="text" [(ngModel)]="selectedCurrency">
        <mat-option value="IDR">IDR</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
      </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
<footer style=" padding-top: 15px; width: 100%; height: 50px; background-color: black;" >
  <p class="text-white text-center">Paskahl Herbert Simarmata 2022</p>
</footer>